.ms-login-h{
        //@apply bg-white;
      //  @apply max-w-sm;
        @apply rounded;
        @apply overflow-hidden;
        @apply shadow-lg;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        min-width:92%;
        background-color:rgba(255,255,255,0.95);

    .ms-login-form{
        @apply px-2;
        @apply py-2;

        .ms-form-title{
            @apply font-bold;
            @apply text-lg;
            @apply mb-2;
            @apply text-center;
        }
    }

}


@screen sm { .ms-login-h{min-width:92%;} .ms-login-copyright-per{display:none;} .ms-login-bottom-line{display:none;} }
@screen md { .ms-login-h{min-width:92%;} .ms-login-copyright-per{display:none;} .ms-login-bottom-line{display:none;} }
@screen lg { .ms-login-h{min-width:92%;} .ms-login-copyright-per{display:none;} .ms-login-bottom-line{display:none;} }
@screen xl { .ms-login-h{min-width:25%;} }

.ms-login-div{
        @apply ms-bg-1;
        display:block;
        position:absolute;
        top:0;
        left:0;
        /* Full height & Width */
        height: 100%;
        width:100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.ms-bg-1{
    background-color:rgba(105,29,182,0.9);
    background-image: url("bg/1.png");
}
.ms-login-msater-icon{

    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -2px;

}
.ms-login-msater-icon:hover{
    @apply ms-animation;
    @apply shadow;
    filter: grayscale(100%);

}
.ms-login-copyright-box{
@apply px-2;
@apply py-1;
@apply text-xs;
@apply bg-gray-400;
    .ms-login-copyright-pre{
    display:inline-block;
    }
    .ms-login-copyright-icon-class{
    margin-top:-14px;
        display:inline-block;
        }
    .ms-login-copyright-per{
        display:inline-block;
        }
    @apply text-center;
}
.ms-login-info-box{
    @apply px-2;
    @apply py-1;
    @apply text-xs;
    @apply bg-gray-200;
    @apply border;
    @apply shadow-md;
    @apply text-center;
    .ms-login-info-pre{
        display:inline-block;
        @apply select-text;
    }
    .ms-login-info-icon-class{
    margin-top:-14px;
        display:inline-block;
        }

}

.ms-login-others-box{
@apply text-xs;

}
.ms-login-others-btn-box{
    @apply my-4;
    @apply flex;

        .ms-login-others-btn{
            @apply cursor-pointer;
            display:inline-block;
            @apply border;
            @apply rounded;
            @apply mx-auto;
            @apply shadow-md;
               .ms-login-others-btn-contetnt{
                @apply flex;
                @apply flex-wrap;
                @apply p-2;
                   .ms-login-other-btn-text{
                    @apply flex-1;
                    @apply px-2;
                    @apply rounded;

                }
                   .ms-login-other-btn-icon{
                    background-color: aliceblue;
                    @apply bg-gray-300;
                    @apply flex-1;
                    @apply border;


                }
            }

        }
        .ms-login-others-btn:hover{
            @apply shadow-xl;
            @apply ms-animation;
            border-color: $ms-theme-color-light;

        }
}


.ms-login-google-btn-icon{
       display:inline-block;
         background-image: url("svg/google.svg");
        /* Full height & Width */
        height: 25px;
        width:25px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: inherit;
        @apply m-1;
       // margin-top: -12px;
}


.ms-login-bottom-line{
display:block;
position:absolute;
bottom:0px;
left:50%;
transform: translateX(-50%);
min-width:100%;
@apply px-6;
@apply py-4;
@apply text-center;
@apply text-xs;
color:rgba(255,255,255,0.8);
background-color:rgba(0,0,0,0.1);
}

.ms-login-logo-box{
    @apply flex;
    @apply mx-auto;
    @apply px-3;
    @apply bg-gray-400;
    .ms-msterlogo{
        @apply flex-1;
        max-height:50px;
        @apply my-4;
        @apply px-2;
        @apply text-center;
        position:relative;
        @apply cursor-pointer;
        @apply border-r;

    }
    .ms-msterlogo:hover{
        @apply ms-animation;
        filter: grayscale(100%);

    }

    .ms-clientlogo{
        @apply flex-1;
        max-height:50px;
        @apply my-4;
        @apply px-2;
        @apply text-center;
        position:relative;
        @apply cursor-pointer;

    }
    .ms-clientlogo:hover{
        @apply ms-animation;
        transition:all 200ms ease-in;
        filter: grayscale(100%);

    }

}


.ms-login-table{
//@apply table-auto;
@apply w-full;
    border-collapse:separate;
    border-spacing:5px;

tr{
@apply w-full;
@apply border-blue-200;
    display: table-row;

th{

    @apply text-center;


i{

@apply px-2;
color:$ms-theme-color-main;
}
}

td{

input{
@apply w-full;

@apply border-r;


border-color: lighten($ms-theme-color-main,20%) ;

}
input:active,input:focus{
//@apply text-blue-400;
    @apply ms-animation;
    @apply border-b;
@apply shadow;
    border-color: darken($ms-theme-color-main,20%);

}
}



}
}


.ms-login-btn{
//@apply flex-wrap ;
@apply w-full;
@apply  text-center;
background-color:$ms-theme-color-light;
color:$ms-theme-color-text-for-light;
@apply  px-3;
@apply  py-1;
//@apply  mr-2 ;
@apply cursor-pointer;
@apply ms-animation;
}

.ms-login-btn-disable{
    //@apply flex-wrap ;
    @apply w-full;
    @apply  text-center;
    background-color:darkgrey;
    color:dimgrey;
    @apply  px-3;
    @apply  py-1;
    //@apply  mr-2 ;
    @apply cursor-not-allowed;
    @apply ms-animation;
}

.ms-login-btn:hover{
transition:all 200ms ease-in;
background-color:$ms-theme-color-dark;
color:$ms-theme-color-text-for-dark;
@apply shadow-lg    ;




}


.ms-login-error-box{
@apply bg-red-200;
@apply py-2;
@apply px-1;
@apply mb-2;
}


.ms-login-success{
    max-height: 160px;
}
.ms-login-loading{
    position: relative;
    top: 0px;
    bottom: 0;
    margin: auto;
    padding: 30px 10px;
}
