
.profileBox{
    background: $ms-theme-bg-light;
    @apply border;
    @apply border-gray-400;
    @apply shadow;
    @apply p-2;
    @apply flex;
    .profileBox-container{
        @apply w-full;
        @apply flex;
        @apply flex-wrap;
        @apply items-start;



        .profileBox-left-box{
            @apply w-4/12;
            @apply p-3;
            @apply flex;
            @apply flex-wrap;
            @apply justify-center;
            .profileBox-left-icon{

                @apply flex-wrap;
                @apply border;
                border-radius: 300px;
                background-color: white;
                border-color: $ms-theme-color-dark;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition:  all 0.3s;
                .profileBox-left-icon-user{
                    max-height: 100px;
                    max-width: 100px;


                    @apply p-3;
                    @apply w-full;
                }

            }
            .profileBox-left-username{
               @apply w-full;
                @apply mt-2;
                @apply text-center;
            }
        }
        .profileBox-right-box{
            white-space: pre-line;
            @apply w-8/12;
            @apply flex;
            @apply flex-wrap;
            @apply p-3;
            @apply mt-2;
            .profileBox-right-box-table{
                @apply w-full;
                border-color: $ms-theme-color-light;

                tr{
                    @apply border-b;
                    border-color: $ms-theme-color-light;
                }
                th{
                    @apply p-1;

                    @apply text-left;
                    @apply pr-2;
                }
                td{
                    @apply p-1;
                }
            }

        }

    }



}

.usageBox{
    background: $ms-theme-bg-light;

    @apply w-1/2;

    @apply mt-2;
    @apply p-2;

    .usageBox-box-table{
        @apply shadow;
        @apply w-full;
        @apply border;
        border-color: $ms-theme-color-light;
        .usageBox-box-table-h{
            th{
                @apply pb-2;
                border-bottom-width: 1.5px;
                border-color: $ms-theme-color-light;
            }

            @apply text-center;
        }

        progress{
            max-width: 54px;
        }
    }

    tr{

        th{
            @apply pl-2;
            @apply pt-2;
        }
        td{
            @apply pt-2;
        }
    }
    tr:last-of-type{
        th{
            @apply pt-2;
            @apply pb-2;
        }
        td{
            @apply pt-2;
            @apply pb-2;
        }
    }

    }



.planUpgradeBox{

    background: $ms-theme-bg-light;
    @apply mt-2;
    @apply p-2;

    @apply w-1/2;
    @apply flex-wrap;

    @screen sm {
        //@apply w-full;
    }
    @screen md {
      //  @apply w-1/2;
    }
    @screen lg {
    //    @apply w-1/3;
    }


    .planUpgradeBox-table{
        @apply shadow;
       @apply w-full;
        @apply border;
        background: rgba(255,255,255,0.4);
        border-color: $ms-theme-color-light;
        overflow: auto;
        .planUpgradeBox-table-h{
            th{
                @apply pb-2;
                border-bottom-width: 1.5px;
                border-color: $ms-theme-color-light;
            }

            @apply text-center;
        }
        progress{
            max-width: 24px;
        }



        .planUpgradeBox-table-f{
            @apply text-center;
            @apply p-2;
            span{
                background-color: $ms-theme-color-main;
                //    background-color: $ms-theme-color-default;
            }
        }


    }


}



