.ms-animation{
    transition: all 500ms ease-in-out;
}
.ms-no-drag{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.ms-no-select{
    @apply select-none;
}

.ms-sucess-shadow{
    box-shadow: 0 1px 3px 0 rgba(76,175,80,0.1), 0 1px 2px 0 rgba(76,175,80,0.06)!important;
}
.ms-danger-shadow{
    box-shadow: 0 1px 3px 0 rgbargba(244,67,54,0.1), 0 1px 2px 0 rgba(244,67,54,0.06)!important;
}

.ms-sucess-input{
    border-color:rgba(76,175,80,0.4) !important;
    @apply ms-sucess-shadow;
}
.ms-failure-input{
    border-color:rgba(244,67,54,0.4)!important;
    @apply ms-danger-shadow;
}
