//TODO Theme

$ms-theme-color-light: lighten(rgba(121,71,199,1),20%);
$ms-theme-color-main: rgba(121,71,199,1);
$ms-theme-color-dark: darken(rgba(121,71,199,1),5%);
$ms-theme-color-text-for-dark: rgba(255,255,255,0.9);
$ms-theme-color-text-for-light: rgba(0,0,0,0.9);
$ms-theme-color-text-for-light-2: rgba(0,0,0,0.4);

$ms-theme-color-danger:rgba(244,67,54,1);
$ms-theme-color-danger-light: lighten(rgba(244,67,54,1),15%) ;
$ms-theme-color-danger-dark: darken(rgba(244,67,54,1),15%) ;

$ms-theme-color-info:rgba(63,81,181,1);
$ms-theme-color-info-light:lighten(rgba(63,81,181,1),18%);
$ms-theme-color-info-dark:darken(rgba(63,81,181,1),15%);

$ms-theme-color-warning:rgba(255,193,7,1);
$ms-theme-color-warning-light:lighten(rgba(255,193,7,1),15%);
$ms-theme-color-warning-dark:darken(rgba(255,193,7,1),15%);

$ms-theme-color-success:rgba(76,175,80,1);
$ms-theme-color-success-light:lighten(rgba(76,175,80,1),15%);
$ms-theme-color-success-dark:darken(rgba(76,175,80,1),15%);

$ms-theme-color-default:rgba(224,224,224,1);
$ms-theme-color-default-light: lighten(rgba(224,224,224,1),5%);

$ms-theme-bg-light:linear-gradient(-180deg, $ms-theme-color-default-light, $ms-theme-color-default);

$ms-dark-theme-color-main:rgba(0,0,0,1);
$ms-dark-theme-color-main-2:rgba(0,0,0,0.9);
$ms-dark-theme-color-main-3:rgba(0,0,0,0.8);
$ms-dark-theme-color-main-4:rgba(0,0,0,0.1);

$ms-dark-theme-color-main-cross:rgba(255,255,255,1);
$ms-dark-theme-color-main-cross-2:rgba(255,255,255,0.8);
$ms-dark-theme-color-main-cross-3:rgba(255,255,255,0.4);
$ms-dark-theme-color-main-cross-4:rgba(255,255,255,0.1);




$ms-dark-theme-color-text:$ms-dark-theme-color-main-cross-2;

$ms-dark-theme-color-text-cross:$ms-dark-theme-color-main-2;

$ms-dark-theme-color-text-1:(255,255,255,0.9);
