.ms-company-setup-box{
   // @apply flex;

  //  @apply flex-wrap;

    //@apply container;
    @apply select-none;
    .ms-company-setup-form{
       // @apply order-last;
        @apply w-full;
        @apply my-2;
        .ms-company-setup-form-title{
            @apply mx-auto;
            @apply text-xl;
            @apply text-center;
            @apply py-4;
            @apply border-b;
            @apply border-t;
            border-color: $ms-theme-color-light;
            @apply mb-4;
        }

        .ms-company-setup-form-body{
          //  @apply flex;
           // @apply flex-col;
            @apply px-2;
            .ms-company-setup-form-section{
                @apply border;
                @apply shadow;
                @apply mb-2;
                border-color: $ms-theme-color-light;
                .ms-company-setup-form-body-head{
                    @apply text-lg;
                    @apply px-2;
                    @apply border-b;

                    border-color: $ms-theme-color-light;

                }
                .ms-company-setup-form-body-row{

                    border-color: $ms-theme-color-light;
                    @apply py-2;
                    @apply mb-2;
                    @apply flex;
                    @apply flex-row;
                    .ms-company-setup-form-body-row-col{
                        @apply flex-1;
                        @apply px-2;
                        .ms-company-setup-form-body-row-logo{
                           // width: 55px!important;
                            height: 55px!important;
                            @apply mx-auto;
                            @apply shadow;
                            @apply border;
                            @apply p-1;
                            @apply ms-no-drag;
                        }
                        .ms-company-setup-form-input{

                            @apply w-full;
                            @apply border;
                            @apply p-2;
                            border-color: $ms-theme-color-light;


                            select{
                                @apply cursor-pointer;
                                text-align-last:center;
                                @apply text-center;
                                option{
                                    @apply cursor-pointer;
                                    font-size: 15px;
                                    text-align-last:center;
                                    @apply text-center;
                                }

                                font-size: 11px;
                                @apply w-full;
                            }
                        }

                        .ms-company-setup-form-input::-webkit-outer-spin-button,
                        .ms-company-setup-form-input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        .ms-company-setup-form-input[type=number] {
                            -moz-appearance: textfield;
                        }
                        .ms-company-setup-form-input::placeholder{
                            @apply text-center;
                        }
                        .ms-company-setup-form-input-lable{
                            @apply ms-animation;
                            @apply pt-2;
                            @apply text-center;
                            color:$ms-dark-theme-color-main-3;
                            @apply select-none;
                            small{
                                color: $ms-theme-color-text-for-light-2;
                                display: block;
                            }
                            .ms-company-setup-form-input-lable-required{
                                color: $ms-theme-color-danger;
                            }
                        }
                        .ms-company-setup-form-input-ok{
                            margin-top: -28px;
                            position: relative;
                            float: right;
                            margin-right: 10px;
                            color: $ms-theme-color-success-light;
                        }

                        .ms-company-setup-form-input-lable-have-error{
                            @apply ms-animation;
                            @apply border-l;
                            @apply border-r;
                            border-color: $ms-theme-color-danger-light;
                            @apply py-2;
                            @apply text-center;
                            color:$ms-dark-theme-color-main-3;
                            @apply select-none;
                            small{
                                color: $ms-theme-color-text-for-light-2;
                                display: block;
                            }
                            .ms-company-setup-form-input-lable-required{
                                color: $ms-theme-color-danger;
                            }
                        }
                        .ms-company-setup-form-input-error{
                            @apply ms-animation;
                            color: $ms-theme-color-text-for-light-2;
                            @apply text-center;
                            font-size: 10px;
                            @apply py-1;
                            background-color: $ms-theme-color-danger-light  ;

                        }
                    }
                }

            }


        }

        .ms-company-setup-form-footer{
            @apply w-full;
            @apply mx-auto;
            @apply flex;
            @apply px-2;
            .ms-company-setup-form-footer-btn-save{
                @apply cursor-pointer;
                @apply py-2;
                @apply px-4;
                @apply border;
                @apply rounded;
                background-color:$ms-theme-color-success-light ;
                border-color:$ms-theme-color-success ;
                @apply flex;
                @apply mx-auto;
                @apply text-center;
            }
            .ms-company-setup-form-footer-btn-save-diabled{
                @apply cursor-not-allowed;
                //pointer-events: none;
                @apply py-2;
                @apply px-4;
                @apply border;
                @apply rounded;
                background-color:$ms-dark-theme-color-main-4 ;
                border-color:$ms-dark-theme-color-main-4 ;
                @apply flex;
                @apply mx-auto;
                @apply text-center;
            }
        }

    }
    .ms-company-setup-image{

        @apply w-full;
     //   @apply order-first;
        @apply my-1;
        .ms-company-setup-image-icon{
         //   position: relative;
            @apply mx-auto;
            max-height: 100px;
            max-width: 100px;
            @apply ms-no-drag;

        }
    }


}



@screen sm {


}
@screen md {

}
@screen lg {

}
@screen xl {

}
